<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsZe8dkZgjBO6Vr2-s6JwvtsZ8KmXq0gg</string>
	<key>GCM_SENDER_ID</key>
	<string>15692535959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pfaParkinson.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pfa-naji</string>
	<key>STORAGE_BUCKET</key>
	<string>pfa-naji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15692535959:ios:84f0ab03ac9f44155771d2</string>
</dict>
</plist>